body {
    background-color: lightgrey;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: grey;
}

h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.navbar ul li {
    text-align: center;
}

caption {
    background-color: blue;
    color: white;
}
table {
    background-color: skyblue
}

.homelink {
    text-align: left;
}

.overview {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.overview section {
    flex: 1;
}
.overview img {
    max-width: 100%;
    height: auto;
}