body {
    background-color: lightgrey;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}

header {
    text-align: center;
    background-color: grey;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    padding: 5px;
    background-color: darkgrey;
}

table {
    background-color: darkgrey;
}